body 
{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fcf5ed;
    border: 1px solid #e2cfab;
    box-shadow: 0 0 5px #dcdcdc;
    padding:30px;
}
.chapter {
    margin: 30px 60px;
    overflow: hidden;
    margin-top: 30px !important;
}
.chapter h2{ font-size: 24px; margin-top: 1em; }


.chapter p {
    background: rgba(0,0,0,0) url(https://a.dushu.com/img/lines.png) repeat-y scroll 0 0;
    font-size: 14px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    text-indent:2em;
}
 h1 {
    font-size: 24px;
    margin-top: 1em;
}
div.c1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    margin:50px 0px;
}
div.c2 {
    display: block;
    margin: 1em 60px;
    line-height: 2;
}
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 60px;
    margin-right: 60px;
    text-indent: 0;
    line-height: 2;
}
div.c4 {
    display: block;
    margin: 1em 60px;
    line-height: 2;
}
div.c5 {
    display: block;
    margin-left: 60px;
    margin-left: 60px;
    text-indent: 0;
    line-height: 2;
}
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em;
    text-align:center;
    line-height: 2;
}
div.c10 {
    display: block;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align:center;
    line-height: 2;
}
div.c11 {
    display: block;
    margin: 1em 60px;
    line-height: 2;
}
div.c14 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold;
    text-align:center;
    line-height: 2;
}
div.c16 {
    margin: 1em 0;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 2;
}
div.c13 {
    margin: 0.83em 60px;
    font-size: 1.1em;
    text-align: center;
    line-height: 2;
}
div.c7 {
    display: block;
    margin-top: 4em;
    text-align: center;
    line-height: 2;
}
div.c8 {
    display: block;
    margin: 1em 60px;
    line-height: 2;
    width:100%;
} 
div.c12 {
    text-indent:inherit;
    margin: 1em 60px;
    line-height: 2;
}
div.c9 {
    display: block;
    margin: 1em 60px;
    line-height: 2;
}
table.menu{ position:fixed; left:3%; top:10px; } 
table.menu1{ position:fixed; left:12%; top:10px; } 
table.menu tr a{ line-height:2; border:1px solid #000; display:block; text-align:center; font-size:12px; }
table.menu tr a:hover{ background:#000; color:#fff !important;}
img{ width:300px !important; border:2px solid #000; }
a{ color:#000 !important;}
a:hover{ color:blue !important;}
blockquote{ border-left:1px solid #999; 
    margin: 1em 60px;}
blockquote div.c2 {
    display: block;
    margin: 1em 0px 1em 30px;
    line-height: 2;
} 